# ignore user specific 
hyprland.conf
themes/apatheia/scripts/swaypaper
hyprland.conf
scripts/variables/temp/primary_screen
store/latest_notif
scripts/variables/temp/background
themes/winter
themes/minimal
themes/detox
