.apatheia-container {
	background-color: $widget-background;
	border-radius: 12px;
	padding: 1.5rem;
	// idk about this bro
    box-shadow: 0px 0px 6px 3px rgba($purple, 0.7);
}

.apatheia-content {
	font-family: Comic Mono;
	padding: 2.4rem .5rem 1rem .5rem;
	font-size: 1.2em;
	color: $white;
}

// .apateheia-author{
// 	font-family: Cartograph CF;
// 	font-style: italic;
// 	font-size: 1.4em;
// 	color: $foreground;
// 	margin-top: 1.7rem;
// }
