.apatheia-container {
	border-radius: 12px 12px 0px 0px;
	padding: 2rem;
	padding-bottom: 0;
	margin: 0px;
}

.apatheia-content {
    font-family: mononoki Nerd Font;
	font-size: 1.2em;
	color: $white;
}

.apatheia-author {
    font-family: mononoki Nerd Font;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
	color: $blue;
	margin-top: 0.3rem;
}
