.apatheia-container {
	background-color: $widget-background;
	border-radius: 12px;
	padding: 1.5rem;
	margin-top: 2rem;
	// idk about this bro
    box-shadow: 0px 0px 10px 15px $shadow;
}

.apatheia-content {
    font-family: mononoki Nerd Font;
	font-size: 1.2em;
	color: $white;
}

// .apateheia-author{
// 	font-family: Cartograph CF;
// 	font-style: italic;
// 	font-size: 1.4em;
// 	color: $foreground;
// 	margin-top: 1.7rem;
// }
