* {
    border: none;
    border-radius: 0px;
    font-family: Material, Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    
}

window#waybar {
    
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
	padding: 10px;
    margin-right: 0px;
	border-radius: 20px;
    opacity: 0.88;
}

#workspaces button {
    color: #131313;
    border-radius: 20px;
    font-weight:bold;
    margin: 0px;
	padding: 5px;
    border-bottom: 3px solid #ffffff;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: lightblue;
    color: #131313;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.focused {
    background: #1f1f1f;
    color: white;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#custom-updater,
#custom-snip,
#mpd {
    padding: 0 10px;
    color: black;
}

#custom-updater,
#custom-launcher,
#pulseaudio,
#custom-snip,
#custom-power{
    font-size: 20px;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {    
    color: black;
    margin-right: 4px;
}

#battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: red;
}

#pulseaudio {
    
    color: black;
}

#pulseaudio.muted {
    
    color: red;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: black;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    color: black;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: black;
}


#language {
    color: black;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
