/* make borders from inner content rounded */
@media all and (display-mode: browser) {
	#tabbrowser-tabpanels browser[type="content"] {
		color-scheme: env(-moz-content-preferred-color-scheme);
		border-top-left-radius: 16px;
	}
}

/* comment this out for padding around the content */
/* .browserContainer{
	padding-right: 10px !important;
	padding-bottom: 10px !important;
} */