.music-side{

}

.left-music-container{
	margin: 0px;
}

.msc_bg {
	background-color: $widget-background;
	// min-width: 140px;
	margin: 0px 5px 5px 0px;
	padding-bottom: 20px;
	border-radius: 16px;
}

.song {
	font-size: 24px;
	font-weight: bold;
	color: $red;
	margin: 10px 0px 0px 15px;
}

.song_artist {
	font-size: 18px;
	font-weight: bold;
	color: $red;
	margin: 0px 0px 0px 15px;
}


.song_btn_prev,
.song_btn_next,
.song_btn_loop {
	font-size: 20px;
	font-weight: normal;
	color: $red;
	margin: 0px 20px 0px 18px;
}

.song_btn_play {
	font-weight: normal;
	font-size: 20px;
	color: $red;
	margin: 0px 20px 0px 18px;
}

.msc_ctl_bg {
	margin-left: 5px;
	background-color: $widget-background;
	border-radius: 12px;
}


.song_prog {
	margin: 8px 4px;
}

.song_prog highlight {
	all: unset;
	// background-color: $red;
	background-image: linear-gradient(to right, $red 30%, $purple 50%, $red 100% *50);
	border-radius: 8px;
}

.song_prog trough {
	min-height: 5px;
	background-color: rgba($grey, 0.2);
	box-shadow: none;
    // box-shadow: 0 6px 5px 2px rgba($shadow, 0.2);
}

// .song_prog scale trough  {
// 	all: unset;
// 	background-color: #232232;
//     // box-shadow: 0 6px 5px 2px #06060b;
// 	border-radius: 8px;
// 	min-height: 1px;
// 	margin: 5px;
// }

.music_prog_bg {
	background-color: $widget-background;
	border-radius: 12px;
	padding: 5px;
	
	margin: 5px 5px 0px 0px;
}

.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 16px 16px 0px 0px;
	padding: 3rem;
}