.music-side{

}

.left-music-container{
	margin: 0px;
}

.msc_bg {
	background-color: $widget-background;
	// min-width: 140px;
	margin: 0px 5px 5px 0px;
	padding-bottom: 10px;
	border-radius: 16px;
}

.song {
	font-size: 24px;
	font-weight: bold;
	color: $primary;
	margin: 10px 0px 0px 15px;
}

.song_artist {
	font-size: 18px;
	font-weight: bold;
	color: $primary;
	margin: 0px 0px 0px 15px;
}


.song_btn_prev,
.song_btn_next,
.song_btn_play {
	font-size: 28px;
	font-weight: normal;
	color: $primary;
	margin: 0px 26px 0px 24px;
}

.song_btn_play {
	margin-left: 20px;
}

.msc_ctl_bg {
	margin: 0px 5px;
	background-color: $widget-background;
	border-radius: 12px;
}


.song_prog {
	margin: 12px 5px;
}

.song_prog highlight {
	all: unset;
	background-color: $primary;
	// background-image: linear-gradient(to right, $red 30%, $purple 50%, $red 100% *50);
	border-radius: 8px;
}

.song_prog trough {
	min-height: 5px;
	background-color: rgba($grey, 0.2);
	box-shadow: none;
    // box-shadow: 0 6px 5px 2px rgba($shadow, 0.2);
}

// .song_prog scale trough  {
// 	all: unset;
// 	background-color: #232232;
//     // box-shadow: 0 6px 5px 2px #06060b;
// 	border-radius: 8px;
// 	min-height: 1px;
// 	margin: 5px;
// }

.music_prog_bg {
	background-color: $widget-background;
	border-radius: 12px;
	padding: 5px;
	
	margin: 5px 5px 0px 0px;
}

.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 16px 16px 0px 0px;
	padding: 2rem;
}

.sidebar_volume_bar, .sidebar_mic_bar, .sidebar_spotify_bar {
	margin-left: 7px;
	margin-right: 7px;
}

.music_audio_container{
	margin: 0px 10px;
}

.sidebar_volume_bar scale trough highlight,
.sidebar_mic_bar scale trough highlight,
.sidebar_spotify_bar scale trough highlight {
	all: unset;
    background-color: $primary;
	border-radius: 24px;
}

.sidebar_volume_bar scale trough highlight{
	background-color: $primary;
}

.sidebar_mic_bar scale trough highlight{
	background-color: $primary;
}

.sidebar_spotify_bar scale trough highlight{
	background-color: $green;
}

.sidebar_spotify_bar trough, 
.sidebar_mic_bar trough, 
.sidebar_volume_bar trough {
	min-width: 10px;
	background-color: rgba($grey, 0.2);
	box-shadow: none;
}

.sidebar_vol_icon, .sidebar_mic_icon, .sidebar_spotify_icon {
    font-size: 20px;
	margin: 4px;
}

.sidebar_vol_icon{
	color: $primary;
}
.sidebar_mic_icon{
	color: $primary;
	
}
.sidebar_spotify_icon{
	color: $green;
}


.sidebar_mic_icon{
	margin-left: 8px;
}