
.side_cc_cc {
    font-size: 28;
    padding: 50px;
}

.side_sys_icon_bat, .side_sys_icon_mem, .side_sys_icon_cpu{
    font-size: 24;
    margin: 20px 0px 0px 0px;
}
.side_sys_win {
    background-color: $widget-background;
    border-radius: 18px;
    padding: 20px;
}
.side_sys_cpu {
  color: $primary;
    background-color: #0f0f17;
  border-radius: 10px;
}
.side_sys_bat {
  color: $primary;
    background-color: #0f0f17;
  border-radius: 10px;
}
.side_sys_mem {
  color: $primary;
    background-color: #0f0f17;
  border-radius: 10px;
}
.side_sys_icon_bat {
    color: $primary;
}
.side_sys_icon_cpu {
    color: $primary;
}
.side_sys_icon_mem {
    color: $primary;
}
.side_sys_bat_box {
	border-radius: 16px;
    // margin: 30px 0px 10px 50px;
  }
.side_sys_cpu_box {
	border-radius: 16px;
    // margin: 30px 50px 10px 50px;
  }
.side_sys_mem_box {
	border-radius: 16px;
    // margin: 30px 50px 15px 0px;
  }