$background-bar: rgba(11, 10, 16, 1);
$background: rgba(11, 10, 16, 1);
$widget-background: rgba(17, 16, 25, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);

$black:     #282A36;
$red:     #E97193; // #F37F97;
$green:   #AAC5A0; // #5ADECD;
$yellow:  #f6d6b3; // #F2A272;
$orange:  #f2c798; // #F2A272;
$blue:    #A8C5E6; // #BAB4D9; //#8897F4;
$purple:  #DFA7E7; // #C574DD;
$purple2: #ecdbee; // #C574DD;
$teal:    #72B69C; // #79E6F3;
$white:   #eae9f0; // #FDFDFD;

$primary:   #eacded; // #F37F97;
$secondary: #71e9c2; // #F37F97;
$tertiary:  #f0db93;