/**
 * @name Material Orchis
 * @version 3.0.4
 * @description A "customized" theme based on Google's Material Design
 * @author Amadeus
 * 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

 @import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

 :root {
     --accent-hue: 224;
     --accent-saturation: 71%;
     --accent-lightness: 61%;
     --accent-text-color: #fff;
     --accent-button-action: #fff; /*	-	*/
     
     --avatar-radius: 50%; /*	-	*/
 
     --message-radius: 19px;
     --message-padding-top: 8px;
     --message-padding-side: 12px; /*	-	*/
 
     --media-radius: 19px; /*	-	*/
 
     --card-radius: 5px;
     --card-radius-big: 10px; /*	-	*/
 
     --popout-radius: 5px;
     --popout-radius-big: 10px;
 }
 
 /* changed colors of the theme :)*/
.theme-dark {
    --main-color: #0f0f0f; /*--main-color: #16171a;*/
    --main-alt: #0f0f0f; /*--main-alt: #0f1012;*/ 
    --server-color: transparent; /*--server-color: transparent;*/ 
    /*background of the things at the bottom left part of the window*/
    --server-folder-color: #191919; /*--server-folder-color: rgba(255,255,255,0.085);*/ 
    --status-picker-color: #191919; /*--status-picker-color: #2c2d31;*/ 
    --sidebar-panel-color: #191919; /*--sidebar-panel-color: #212226;*/ 
    /* Chat properties */
    --chat-color: #0f0f0f; /*--chat-color: #202225;*/ 
    --message-color: #191919; /*--message-color: #292d30;*/ 
    --message-color-hover: #222222; /*--message-color-hover: #303438;*/ 
    --message-color-alt: rgba(0,0,0,0.275); /*--message-color-alt: rgba(0,0,0,0.275);*/ 
    --attachment-color: rgb(0,0,0,0.325); /*--attachment-color: rgb(0,0,0,0.325);*/ 
    --main-textarea-color: #191919; /*--main-textarea-color: #303338;*/ 
    --main-textarea-color-alt: #161616; /*--main-textarea-color-alt: #3b3f42;*/ 
    --main-textarea-border: #191919; /*--main-textarea-border: #3e434a;*/ 
    --typing-color: rgba(32,34,37,0.9); /*--typing-color: rgba(32,34,37,0.9);*/ 
    /* Popout properties */
    --popout-color: #191919; /*--popout-color: #2c2f33;*/ 
    --popout-color-alt: #191919; /*--popout-color-alt: #202225;*/ 
    --popout-header-border: rgba(255,255,255,0.125); /*--popout-header-border: rgba(255,255,255,0.125);*/ 
    --separator-color: rgba(255,255,255,0.115); /*--separator-color: rgba(255,255,255,0.115);*/ 
    --input-color: rgba(255,255,255,0.065); /*--input-color: rgba(255,255,255,0.065);*/ 
    --input-border-color: #444; /*--input-border-color: #444;*/ 
    --input-padding: 0 12px; /*--input-padding: 0 12px;*/ 
    --tab-border-color: #fff; /*--tab-border-color: #fff;*/ 
    --interactive-muted: #676767; /*--interactive-muted: #676767;*/ 
    --text-disabled: #666; /*--text-disabled: #666;*/ 
    --menu-item-hover: rgba(255,255,255,0.075); /*--menu-item-hover: rgba(255,255,255,0.075);*/ 
    --menu-item-select: rgba(255,255,255,0.1); /*--menu-item-select: rgba(255,255,255,0.1);*/ 
    --menu-item-select-accent: hsla(var(--accent-hsl),0.25); /*--menu-item-select-accent: hsla(var(--accent-hsl),0.25);*/ 
    --menu-item-text-color: #aaa; /*--menu-item-text-color: #aaa;*/ 
    --card-color: transparent; /*--card-color: transparent;*/ 
    --card-color-hover: rgba(255,255,255,0.04); /*--card-color-hover: rgba(255,255,255,0.04);*/ 
    --card-color-alt: rgba(255,255,255,0.05); /*--card-color-alt: rgba(255,255,255,0.05);*/ 
    --card-color-alt-hover: rgba(255,255,255,0.0575); /*--card-color-alt-hover: rgba(255,255,255,0.0575);*/ 
    --card-border-color: rgba(255,255,255,0.1); /*--card-border-color: rgba(255,255,255,0.1);*/ 
    --card-header-text-color: #dcddde; /*--card-header-text-color: #dcddde;*/ 
    --activity-card-color: rgba(255,255,255,0.0475); /*--activity-card-color: rgba(255,255,255,0.0475);*/ 
    --activity-card-color--hover: rgba(255,255,255,0.06); /*--activity-card-color--hover: rgba(255,255,255,0.06);*/ 
    --activity-card-color--active: rgba(255,255,255,0.07); /*--activity-card-color--active: rgba(255,255,255,0.07);*/ 
    --activity-card-color--inset: rgba(255,255,255,0.05); /*--activity-card-color--inset: rgba(255,255,255,0.05);*/ 
    --button-link-color: 255,255,255; /*--button-link-color: 255,255,255;*/ 
    --button-link-text-color: #fff; /*--button-link-text-color: #fff;*/ 
    --button-border-color: #444; /*--button-border-color: #444;*/ 
    --slider-color: #4f545c; /*--slider-color: #4f545c;*/ 
    --switch-knob-color: 0,0%,47%; /*--switch-knob-color: 0,0%,47%;*/ 
    --switch-slider-color: 240,1%,20%; /*--switch-slider-color: 240,1%,20%;*/ 
    --switch-slider-color-modal: 240,1%,28%; /*--switch-slider-color-modal: 240,1%,28%;*/ 
    --switch-color-modifier: 1.2; /*--switch-color-modifier: 1.2;*/ 
    --switch-color-checked: hsla(var(--accent-hsl),0.3); /*--switch-color-checked: hsla(var(--accent-hsl),0.3);*/ 
    --md-ripple-color: 0,100%,100%; /*--md-ripple-color: 0,100%,100%;*/ 
    --emoji-category-header: rgba(44,47,51,0.95); /*--emoji-category-header: rgba(44,47,51,0.95);*/ 
    --scrollbar-color: 255,255,255; /*--scrollbar-color: 255,255,255;*/ 
    --window-button: rgba(255,255,255,0.1); /*--window-button: rgba(255,255,255,0.1);*/ 
    --window-button-inactive: rgba(255,255,255,0.05); /*--window-button-inactive: rgba(255,255,255,0.05);*/ 
  }

 .theme-dark {
     --saturation-modifier: 0.175;
     --lightness-modifier: 0.2;
 }
 
 .theme-light {
     --saturation-modifier: 0.4;
     --lightness-modifier: 2.175;
 }
 
